{% load showcase_tags %}
{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>BRN в России</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href='{% static "images/logo.png" %}' type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,700%7CRoboto:400,500,700">
    <link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
    <link rel="stylesheet" href='{% static "css/fonts.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <!-- Page Loader-->
    <div class="preloader" id="preloader">
      <div class="page-loader-logo">
        <div class="brand">
          <div class="brand__name"><img src='{% static "images/logo.png" %}' alt="" width="100" height="80"/>
          </div>
        </div>
      </div>
      <div class="page-loader-body">
        <div id="loadingProgressG">
          <div class="loadingProgressG" id="loadingProgressG_1"></div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="page-header section">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-creative" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-device-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-fullwidth" data-xxl-device-layout="rd-navbar-fullwidth" data-xxl-layout="rd-navbar-fullwidth" data-stick-up-clone="false" data-md-stick-up-offset="150px" data-lg-stick-up-offset="60px" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="{% url 'base' %}">
                      <div class="brand__name"><img src='{% static "images/logo.png" %}' alt="" width="80" height="50"/>
                      </div></a></div>
                </div>
                <!-- RD Navbar Nav-->
                <div class="rd-navbar-nav-wrap">
                  <ul class="rd-navbar-nav">
                    <div class="unit flex-row unit-spacing-xxs">
                      <div class="unit__left"><span class="icon icon-sm icon-primary material-icons-local_phone"></span></div>
                      <div class="unit__body"><a class="phone_number" href="tel:#">{% get_phone %}</a></div>
                    </div>
                  </ul>
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li><a href="{% url 'base' %}">О нас</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Продукция</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% get_categories as categories_all %}
                        {% for category in categories_all %}
                          <div class="dropdown-divider"></div>
                          <div><a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a></div>
                        {% endfor %}
                      </div>
                    </li>
                    <li><a href="{% url 'certificates' %}">Сертификаты</a>
                    </li>                    
                    <li><a href="{% url 'contacts' %}">Контакты</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      {% block content %}


      <video width="100%" height="auto" max-height="100%" controls src='{% static "video/BRN Sleep Products Corporate Film.mp4" %}'></video>


      <!-- About us-->
      <section class="section section-md bg-default text-center">
        <div class="container">
          <h3>О нас</h3>
          <div class="container">
            <div class="row">

                <p>Со дня основания (в 2006г.) компания BRN стремится к совершенству, глядя на эти матрасы понимаешь, что это им удается. Изысканный и впечатляющий внешний вид в сочетании с высочайшим качеством и современными технологиями. Инновационный подход к делу, дает новый уровень расслабления и комфорта сна. На сегодняшний день компания BRN является одним из мировых лидеров по производству высококачественных и экологически чистых матрасов поставляя свою продукцию в 68 стран мира!</p>
                <br>
                <p>Отличительной чертой матрасов BRN, являются передовые технологии, не уступающие, а во многом — превосходящие европейские аналоги, с заметной разницей в стоимости!</p>
                <br>
                <p>На European Business Awards компания BRN вошла в десятку лучших компаний Европы по внедрению технологий и инноваций. Все материалы для производства матрасов проходят тестирование в международных лабораториях. Международные сертификаты качества ISO 9001 ISO 13408-1 , ISO 1400, OEKO-TEX 100, CertiPUR. OHSAS 18001, гарантируют, что продукция BRN полностью экологично и протестирована на вредные вещества, а производство не вредит окружающей среде.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Conditions and Guarantee -->
      <section class="section section-md bg-gray-4">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-10 col-xl-12">
              <h3 class="text-center">Условия и гарантии</h3>
              <p>BRN Group с радостью сотрудничает с розничными магазинами, интернет-магазинами, студиями дизайна и т.д.</p>
              <br>
              <ul class="list-marked">
                <li>Выставочные образцы для магазинов предоставляются БЕСПЛАТНО</li>
                <li>Постоянное наличие на складе в России.</li>
                <li>Для интернет-магазинов предоставляем качественный контент</li>
                <li>На всю продукцию имеются сертификаты и гарантия.</li>
                <li>Мы официальные представители фабрик, поэтому все гарантийные обязательства выполняются нами и в России.</li>
                <li>Мы всегда идем на встречу людям,желающим зарабатывать на качественных продуктах.</li>
                <li>Мы с радостью поделимся своим многолетним опытом продаж,для увелечения вашей прибыли!</li>
                <li>Мы предоставляем нашим партнерам продукцию высокого качества с лучшими ценами и услугами.</li>
              </ul>
              <br>
              <p>Будьте на высоте по качеству и конкурентными по цене!</p>
            </div>
          </div>
        </div>
      </section>

      {% endblock content %}

      <!-- Page Footer-->
      <footer class="footer-classic bg-gray-8">
        <div class="container">
          <div class="divider"></div>
          <div class="footer-classic__aside">
            <div class="row row-10">
              <div class="col-md-6 text-md-left">
                <!-- Rights-->
                <p class="rights"><span>Quarex</span><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved. Design by <a href="https://www.templatemonster.com">TemplateMonster</a><br>Backend and custom design by freetoyer</p>
              </div>
              <div class="col-md-6 text-md-right">
                <ul class="list-inline-xxs">
                  <li>
                    <p>Follow Us</p>
                  </li>
                  <li><a class="icon icon-xs icon-style-modern fa fa-facebook" href="#"></a></li>
                  <li><a class="icon icon-xs icon-style-modern fa fa-twitter" href="#"></a></li>
                  <li><a class="icon icon-xs icon-style-modern fa fa-instagram" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src='{% static "js/core.min.js" %}'></script>
    <script src='{% static "js/script.js" %}'></script>
  </body>
</html>
