{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- Get in Touch-->
  <section class="section section-md bg-default">
    <div class="container contacts_container">
      <div class="layout-bordered">
        <div class="layout-bordered__main">
          <div class="layout-bordered__main-inner">
            <h3>Контактная информация</h3>
          </div>
        </div>
      </div>

      <div class="row row_modified">
        <div class="container">
          <div class="layout-bordered">
            <div class="layout-bordered__main">
              <div class="layout-bordered__main-inner">
                <p>ООО "МАРС"</p>
                <p>ИНН: 7814542502</p>
                <p>ОГРН: 1127847378823</p>
                <p>Адрес: г. Санкт-Петербург, проспект Культуры, д. 40 литер А, офис 108</p>
              </div>
            </div>
            <div class="layout-bordered__aside">
              <div class="layout-bordered__aside-item">
                <p class="heading-8">Телефон</p>
                <div class="unit flex-row unit-spacing-xxs">
                  <div class="unit__left"><span class="icon icon-sm icon-primary material-icons-local_phone"></span></div>
                  <div class="unit__body"><a href="tel:#">922-26-08</a></div>
                </div>
              </div>
              <div class="layout-bordered__aside-item">
                <p class="heading-8">E-mail</p>
                <div class="unit flex-row unit-spacing-xxs">
                  <div class="unit__left"><span class="icon icon-sm icon-primary mdi mdi-email-outline"></span></div>
                  <div class="unit__body"><a href="mailto:#">brnbedrus@gmail.com</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
